<html>
    <head>
        <title>These are your stats!</title>
    </head>
    <style>
    input[type=submit] {
        width:200px;  
        height:100px;
        font-size: 20px;
    }
    </style>
    <body>
        <h1>Your character's stats have been decided.</h1>
        <p>{{stats}}</p>
        <form method ="post" action = '/city'>
            <input type="submit" name="City" value="To the City"/>
        </form>
        
        <form method ="post" action = '/forest'>
            <input type="submit" name="Forest" value="To the Forest"/>
        </form>
         
         <form method ="post" action = '/mystery'>
            <input type="submit" name="Mystery" value="To the Mystery"/>
        </form>
        
        <form method ="post" action = '/town'>
            <input type="submit" name="Town" value="To the Town"/>
        </form>
        
    </body>
</html>