<html>
    <head>
        <title>Welcome to the city!</title>
    </head>
    <style>
    h1{
        color:white;
    }
    body {
      background-image: url("https://media2.giphy.com/media/NKEt9elQ5cR68/giphy.gif");
      background-repeat: no-repeat;
      background-size:cover; 
    }
    </style>
    <body>
        <h1>Welcome to our city</h1>
        <form method ="post" action = '/enemy2'>
            <input type="submit" name="enemy2" value="enemy"/>
        </form> 
    </body>
</html>