<html>
    <head>
        <title>The enemy</title>
    </head>
    <style>
    h1{
        color:black;
    }
    p{
        color:black;
    }
    body {
      background-image: url("https://cdn.shopify.com/s/files/1/0822/1983/articles/paragoomba-pixel-art-pixel-art-paragoomba-paratroopa-enemy-goomba-nintendo-video-game-super-mario-pixel-8bit.png?v=1526971237");
      background-repeat: no-repeat;
      background-size:cover; 
    }
    </style>
    
    <body>
        
        <h1>An enemy has appeared</h1>
        <p>You engage the enemy in combat.</p>
        <form method ="post" action = '/fight'>
            <input type="submit" name="fight" value="fight"/>
        </form> 
    </body>
</html>