<html>
    <head>
        <title>Welcome to the forest!</title>
    </head>
    <style>
    h1{
        color:white;
    }
    body {
      background-image: url("https://i.ytimg.com/vi/1j723pJgcQg/maxresdefault.jpg");
      background-repeat: no-repeat;
      background-size:cover; 
    }
    </style>
    <body>
        <h1>Welcome to our forest</h1>
        <form method ="post" action = '/enemy'>
            <input type="submit" name="enemy" value="enemy"/>
        </form> 
    </body>
</html>