<html>
    <head>
        <title>Lose</title>
    </head>
    <style> 
    h1{
        color:white;
    }
    p{
        color:white;
    }
    body {
      background-image: url("https://i.ytimg.com/vi/PHiUd0D4zQg/hqdefault.jpg");
      background-repeat: no-repeat;
      background-size:cover;
      background-position:center;
    }
    input[type=submit] {
        width:200px;  
        height:100;
        font-size: 20px;
    }
    </style>
    <body>
        <h1>Congrats you lost the game!</h1>
        <p>You can go back to the home screen or you can just stare at this lose screen. Your choice.</p>
        <form method ="post" action = '/index'>
            <input type="submit" name="start" value="Start"/>
        </form> 
    </body>
</html>