<html>
    <head>
        <title>Welcome to your doom! RIP!</title>
    </head>
    <style>
    h1{
        color:white;
    }
    body {
      background-image: url("https://i.redd.it/vhibjmcdsx621.gif");
      background-repeat: no-repeat;
      background-size:cover; 
    }
    input[type=submit] {
        width:200px;  
        height:100px;
        font-size: 20px;
    }
    p {
        color:white;
        font-size: 20px;
    }
    </style>
    <body>
        <h1>Welcome to your doom!!!</h1>
        <p>There's no escape!</p>
        <form method ="post" action = '/lose'>
            <input type="submit" name="lose" value="Continue"/>
        </form> 
    </body>
</html>