<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body style=background-image:url();>
        <h1>survive untill the end</h1>
        <p>We can build a full webpage here</p>
        if 
        <a href = "/character_creation">Click here to see the the next location!</a>
        else
        <a href = "/index">Click here to go home!</a>
        <form>
            <input type="text" user.name="nickname" value="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>