<html>
    <head>
        <title>Victory</title>
    </head>
    <style> 
    h1{
        color:white;
    }
    p{
        color:white;
    }
    body {
      background-image: url("https://st3.depositphotos.com/14051716/19240/v/600/depositphotos_192402012-stock-video-retro-videogame-victory-text-computer.jpg");
      background-repeat: no-repeat;
      background-size:cover; 
    }
    input[type=submit] {
        width:200px;  
        height:100;
        font-size: 20px;
    }
    </style>
    <body>
        <h1>Congrats you finished the game! GG!</h1>
        <p>You can go back to the home screen or you can just stare at this victory screen. Your choice.</p>
        <form method ="post" action = '/index'>
            <input type="submit" name="start" value="Start"/>
        </form> 
    </body>
</html>